body{
    background-color:beige;
}
h1{
    text-shadow: 1px 1px 1px;
    border-style: hidden hidden hidden solid;
    border-color:brown;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:bisque;
    box-shadow: 2px 3px 4px;

}
div.f_class{
    width: 300px;
    background-color: white;
    padding:0px 30px 40px 30px;
    border-style: solid;
    border-radius: 0px 30px 0px 30px;
    box-shadow: 3px 5px 6px ;
   
}


img{
    width: 300px;
    height:300px;
}
div#center{
    height: auto;
}
input#U_name{
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 8px;
    width: 280px;
    border-radius: 10px 10px 0px 10px ;
    box-shadow: 2px 3px 4px brown;

}
input#P_word{
    margin-bottom: 20px;
    font-size: 16px;
    padding: 8px;
    width: 280px;
    border-radius: 10px 10px 0px 10px ;
    box-shadow: 2px 3px 4px brown;
}
button{
    font-size: 20px;
    color: white;
    background-color: rgb(0, 81, 255);
    padding: 8px;
    width: 300px;
    border-radius: 10px 10px 10px 10px ;
    box-shadow: 2px 2px 3px black;
    margin-bottom: 20px;
    
} 
button:hover{
    background-color: rgb(0, 162, 255);
}  
.a_link{
    font-size: 20px;
}
a{
    text-decoration: none;
}

p.para{
    font-size: 20px;

}
.s_link{
    text-decoration: none;
}
